
body {
  font-family: Arial, sans-serif;
  max-width: 100%;
}

h1 {
  text-align: center;
  max-width: 100%;
}
h2{
  font-size: 35px;
}
.detailImage{
  position: relative;
  width: 200px;
  height: 200px;
}

.details{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
}
div {
  margin: 20px;
  font-size: 18px;
}
.detailedSpan{
  border: 5px solid black; 
  margin: 5px;
  margin-top: 50px;
   
}
.closeDetails{
 margin-top: 50px;
 font-size: larger;
}

.pokemon-list {
  height: fit-content;
  width: fit-content;
}

.tableImages{
  height: 125px;
  width: 125px;
}

.typeFilter{
  font-size: large;
  height: 30px;
}
.nameFilter{
  font-size: large;
  height: 30px;
}


table {
  width: fit-content;
  border-collapse: collapse;
  margin-top: 0px;
  border: 3px solid #000000;
  height: fit-content;
}

th, td {
  border: 3px solid #000000;
  padding: 8px;
  text-align: left;
  width: fit-content;
  height: fit-content;
}

th {
  background-color: #f2f2f2;
  width: fit-content;
  height: fit-content;
}

td {
  text-align: center;
  width: fit-content;
  height: fit-content;
}

/* Style the X (delete) icon */
td:hover {
  background-color: #ffcccc;
}

.WholePage{
  background-image: url(
"https://www.hdwallpapers.in/download/pokemon_in_yellow_background_hd_yellow-1366x768.jpg"
    );
    background-size: contain;
    height: max-content;
    font-size: 50px;
    margin-top: -70px;
    margin-right: -20px;
    margin-left: -20px;
    background-repeat: repeat
}
#root{
  background-color: #ffcc1c;
}


